<header>
  <div class="bg-dark">
    <div class="container">
      <ul class="nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link text-light dropdown-toggle"
            data-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            >Tiếng Việt</a
          >
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#"> Tiếng Việt </a>
            <a class="dropdown-item" href="#"> English </a>
          </div>
        </li>
        <span class="flex-grow-1"></span>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Đăng nhập</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-light" href="#">Đăng ký</a>
        </li>
      </ul>
    </div>
  </div>

  <nav class="navbar navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Logo</a>

      <form class="form-inline">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Tìm sản phẩm ..."
          />
          <div class="input-group-append">
            <button class="btn btn-outline-success" type="button">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </form>

      <span>0123 456 789</span>
    </div>
  </nav>

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">Trang chủ</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Giới thiệu</a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Sản phẩm
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Sản phẩm A</a>
              <a class="dropdown-item" href="#">Sản phẩm B</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Sản phẩm C</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tin tức</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Liên hệ</a>
          </li>
        </ul>
      </div>
      <a class="navbar-brand" href="#">Giỏ hàng</a>
    </div>
  </nav>
</header>
