<header>
  <div id="navbar-top">
    <div class="container">
      <ul class="nav">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            data-toggle="dropdown"
            href="#"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Tiếng Việt
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="#"> Tiếng Việt </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#"> English </a>
          </div>
        </li>
        <span class="flex-grow-1"></span>
        <li class="nav-item">
          <a class="nav-link" href="#"> Đăng nhập </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"> Đăng ký </a>
        </li>
      </ul>
    </div>
  </div>

  <nav id="search-bar" class="navbar navbar-light bg-light">
    <div class="container">
      <div>
        <button
          class="navbar-toggler d-lg-none mr-3"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">LOGO</a>
      </div>

      <form class="form-inline d-none d-lg-block">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Tìm sản phẩm..."
          />
          <div class="input-group-append">
            <button class="btn btn-outline-success" type="button">
              Tìm kiếm
            </button>
          </div>
        </div>
      </form>

      <a class="navbar-shopping-cart" href="">
        <i class="fas fa-shopping-basket"></i>
        Giỏ hàng
      </a>
    </div>
  </nav>

  <nav id="navbar-main" class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <div
        class="collapse navbar-collapse justify-content-center"
        id="navbarSupportedContent"
      >
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/routePath']"
              routerLinkActive="router-link-active"
            >
              Trang chủ
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/routePath']"
              routerLinkActive="router-link-active"
            >
              Giới thiệu
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link"
              [routerLink]="['/product']"
              routerLinkActive="router-link-active"
            >
              Sản phẩm
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/routePath']"
              routerLinkActive="router-link-active"
            >
              Tin tức
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/routePath']"
              routerLinkActive="router-link-active"
            >
              Đặt hàng
            </a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="['/routePath']"
              routerLinkActive="router-link-active"
            >
              Liên hệ
            </a>
          </li>
          <li class="nav-item d-lg-none">
            <span class="nav-link">
              <form class="form-inline">
                <div class="input-group">
                  <input
                    type="text"
                    class="form-control"
                    placeholder="Tìm sản phẩm..."
                  />
                  <div class="input-group-append">
                    <button class="btn btn-outline-success" type="button">
                      Tìm kiếm
                    </button>
                  </div>
                </div>
              </form>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
