<footer>
  <div class="bg-light py-46">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 mb-3 mb-lg-0">
          <h5 class="pl-3">Địa chỉ liên hệ</h5>
          <ul class="nav flex-column">
            <li class="nav-item">
              <span class="nav-link">
                K306/H10/03, Đường Nguyễn Công Hoan, Phường Hoà An, Quận Cẩm Lệ,
                Thành phố Đà Nẵng
              </span>
            </li>
            <li class="nav-item">
              <span class="nav-link">example@gmail.com</span>
            </li>
            <li class="nav-item">
              <span class="nav-link">0123 456 789</span>
            </li>
          </ul>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-4 mb-3 mb-lg-0">
          <h5 class="pl-3">Truy cập nhanh</h5>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link text-body" href="">Câu chuyện của Rô Ơi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-body" href="">Chính sách khuyến mãi</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-body" href="">Chính sách giao hàng</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-body" href=""
                >Bảo mật và điều khoản sử dụng</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link text-body" href="">Nhà máy</a>
            </li>
          </ul>
        </div>
        <div class="col-md-12 col-lg-4">
          <h5 class="pl-3">Kết nối chúng tôi</h5>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link text-body" href="">
                <span class="social-icon">
                  <i class="fab fa-facebook-f"></i>
                </span>
                Facebook
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-body" href="">
                <span class="social-icon">
                  <i class="fab fa-youtube"></i>
                </span>
                Youtube
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-body" href="">
                <span class="social-icon">
                  <i class="fab fa-google"></i>
                </span>
                Google
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-dark text-center">
    <small class="text-muted">Design with love by Bear</small>
  </div>
</footer>
